{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="text-center">Current Tasks</h1>
    <br class="user-select-nont">
    {% if spaces|length != 0 %}
        {% for space in spaces %}
        <div class="container w-100">
            <div class="card border-primary mb-5 mx-auto">
                <div class="card-header d-flex justify-content-between">
                    <div class="d-inline-block">
                        <h3 class="card-title">{{ space.name }}</h3>
                    </div>
                    <div class="d-inline-block text-muted">
                        <form action="/add_tasks/{{ space.id }}" method="post">
                            <div class="modal" id="addTask-{{ space.id }}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add Task</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Give a title (required)
                                            <input type="text" class="form-control" autocomplete="off" autofocus placeholder="Title (required)" name="task_title"></p>
                                            Set a deadline (optional)
                                            <div class="border border-secondary p-4">
                                                <p>Date
                                                <input type="date" class="form-control" name="task_date"></p>
                                                Time
                                                <input type="time" class="form-control"  name="task_time">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-outline-primary">Add Task</button>
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-outline-primary btn-sm ms-2" type="button" data-bs-toggle="modal" data-bs-target="#addTask-{{ space.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                            Add Task
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    {% if space.description == "No description" %}
                    <p class="card-text text-muted"><em>{{ space.description }}</em></p>
                    {% else %}
                    <p class="card-text">{{ space.description }}</p>
                    {% endif %}
                    <hr>
                    <div class="text-center table-responsive-lg">
                        <h4>Tasks</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 4% !important"><strong></strong></th>
                                    <th class="text-start"><strong>Task Title</strong></th>
                                    <th class="text-center"><strong>Status</strong></th>
                                    <th class="text-center"><strong>Set Deadline</strong></th>
                                    <th class="text-end text-muted" style="width: 8.6% !important"><h6>Last update</h6></th>
                                    <th class="text-end text-muted" style="width: 8.6% !important"><h6>Created on</h6></th>
                                    <th class="text-center" style="width: 5% !important"><strong>Edit</strong></th>
                                    <th class="text-center" style="width: 5% !important"><strong>Archive</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                {% if task.space_id == space.id %}
                                <tr>
                                    <td class="text-center align-middle">
                                        {% if task.status != "Completed" %}
                                        <form action="/complete_task/{{ space.id }}/{{ task.id }}" method="post">
                                            <button type="submit" class="btn btn-outline-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                                </svg>
                                            </button>
                                        </form>
                                        {% else %}
                                        <button type="button" class="btn btn-outline-primary btn-sm" disabled>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                            </svg>
                                        </button>
                                        {% endif %}
                                    </td>
                                    <td class="text-start align-middle">{{ task.title }}</td>
                                    <td class="text-center align-middle">
                                        {% if task.status == "Todo" %}
                                        <div class="badge rounded-pill bg-primary">{{ task.status }}</div>
                                        {% elif task.status == "In Progress" %}
                                        <div class="badge rounded-pill bg-info">{{ task.status }}</div>
                                        {% else %}
                                        <div class="badge rounded-pill bg-success">{{ task.status }}</div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        {% if task.date == "No date provided" and task.time == "No time provided" %}
                                        <div class="text-muted align-middle">No set deadline</div>
                                        {% else %}
                                        {{ task.date }} {{ task.time }}
                                        {% endif %}
                                    </td>
                                    <td class="text-end text-muted align-middle"><h6>{{ task.last_update }}</h6></td>
                                    <td class="text-end text-muted align-middle"> <h6>{{ task.created }}</h6></td>
                                    <td class="text-center align-middle">
                                        <div class="text-start text-muted">
                                            <form action="/edit_task/{{ space.id }}/{{ task.id }}" method="post">
                                                <div class="modal" id="editTask-{{ task.id }}">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit Task</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true"></span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Edit title
                                                                <input type="text" class="form-control" autocomplete="off" autofocus placeholder="{{ task.title }}" name="task_title"></p>
                                                                Change status
                                                                <div class="mb-3 d-flex justify-content-between ms-5 me-5">
                                                                    <div class="form-check d-inline-block">
                                                                        <input class="form-check-input" type="radio" name="task_status" id="optionsRadios1" value="Todo">
                                                                        <label class="form-check-label" for="optionsRadios1">
                                                                            Todo
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check d-inline-block">
                                                                        <input class="form-check-input" type="radio" name="task_status" id="optionsRadios2" value="In Progress">
                                                                        <label class="form-check-label" for="optionsRadios2">
                                                                            In Progress
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check d-inline-block">
                                                                        <input class="form-check-input" type="radio" name="task_status" id="optionsRadios3" value="Completed">
                                                                        <label class="form-check-label" for="optionsRadios3">
                                                                            Completed
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                Edit deadline
                                                                <div class="border border-secondary p-4">
                                                                    <p>Date
                                                                    <input type="date" class="form-control" name="task_date"></p>
                                                                    Time
                                                                    <input type="time" class="form-control"  name="task_time">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-outline-primary">Save Changes</button>
                                                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <button class="btn btn-outline-primary btn-sm ms-2" type="button" data-bs-toggle="modal" data-bs-target="#editTask-{{ task.id }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149   .148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="text-center align-middle">
                                        <form action="/arch_task/{{ space.id }}/{{ task.id }}" method="post">
                                            <button class="btn btn-outline-primary btn-sm ms-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
                                                    <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div class="border border-secondary p-2 rounded">Created: {{ space.time }}</div>
                    <div class="border border-secondary p-2 rounded">Last updated: {{ space.last_update }}</div>
                    <div class="border border-secondary p-2 rounded">Tasks: {{ space.no_of_tasks }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="text-muted d-flex align-items-center justify-content-center border border-primary rounded p-5 h-75 w-75">
            <h1>No spaces! Create a <a href="/">space</a> first!</h1>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}